<h1>Contact Page</h1>
<hr />

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        By Phone
      </td>
      <td>
        801-602-8577
      </td>
    </tr>
    <tr>
      <td>
        By email
      </td>
      <td>
        mjsquire@digis.net
      </td>
    </tr>
    <tr>
      <td>
        By Mail
      </td>
      <td>
        3325 N 700 W, Lehi
      </td>
    </tr>
  </tbody>
</table>
