<h1>About Me</h1>
<hr />

<div class= "list">
  <h3>A list of stuff about me</h3>
  <ol>
    <li><strong>Family</strong>
      <ul>
        <li>1 Amazing husband</li>
        <li>2 Boys</li>
        <li>2 Girls</li>
        <li>1 Mute rabbit</li>
      </ul></li>
    <li><strong>Hobbies</strong>
      <ul>
        <li>Biking</li>
        <li>Leatherworking</li>
        <li>Learning new things</li>
        <li>Reading</li>
        <li>Relaxing in my hammock</li>
      </ul></li>
    <li><strong>Querks</strong></li>
      <ul>
        <li>Like my hair in a pony tail</li>
        <li>Can't throw stuff down the stairs</li>
        <li>Get motion sick watching video games</li>
      </ul>
  </ol>
</div>
