<html>
  <head>
    <meta charset="utf-8">
    <title>A Litte Bit More About Me</title>
    <link rel='stylesheet' type= 'text/css'  href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="link">
      <a href='/'>Home Page</a>
      <a href="contact">Contact Me</a>
      <a href="resume">Resume</a>
    </div>
      <hr />

    <%= yield %>
    <footer>
      <div>&copy; Jo Squire 2016</div>
    </footer>
  </body>
</html>
